<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Rule Based Home | NLP Brain</title>
  <!-- Bootstrap core CSS-->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="/static/css/sb-admin.css" rel="stylesheet">
	<script src="https://www.w3schools.com/lib/w3.js"></script>

</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->
  <div w3-include-html="/static/menu.html"></div> 
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="index.html">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Rule Based</li>
      </ol>
      <div class="row">
      <div class="col">
      <table class="table table-bordered">
  <thead>
    <tr>
      
      <th scope="col">Rules <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#rule_based_modal"></th>
      
    </tr>
  </thead>
  <tbody>
    {% for rule in rules %}
    <tr>
      
      <td><a id="link" href = 'add_new_rule_page?rule_id={{rule['rule_id']}}'>{{rule['rule_name']}} </a>
      </td>
      
    </tr>
    {%endfor%}
  </tbody>
</table>
    </div>
        <div class="col-6">
         
         <table class="table table-striped">
  <thead>
    <tr>
      
      <th scope="col">All Documents  </th>
      
    </tr>
  </thead>
  <tbody>
    {% for ind in content_all_data %}
    <tr>
      
      <td><a id="link" href = 'regex_apply?content_id={{ind['id_tab_content']}}'>{{ind['content_title']}} </a>
      </td>
      
    </tr>
    {%endfor%}
  </tbody>
</table>

        </div>
        
        <div class="col-sm-4">

       <table class="table table-bordered">
  <thead>
    <tr>
      
      <th scope="col">
      <div class="row">
        <div class="col">
              Classes
            </div>
            <div class="col">
             <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
          Add Class 
        </button>
        </div>
        </div>
       </th>
      
    </tr>
  </thead>
  <tbody>
    {% for class in classes %}
    <tr>
      
      <td><a id="link" href = 'rule_based_all_regex_class?class_id={{class['class_id']}}'>{{class['class_name']}} </a></td>
      
    </tr>
    {%endfor%}
  </tbody>
</table>

        </div>
      </div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright © Northout NLP Brain 2017</small>
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    
    <!-- Bootstrap core JavaScript-->
	<script>
	w3.includeHTML();
	</script>
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="/static/js/sb-admin.min.js"></script>
  </div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Class</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="rule_based_add_class"> 
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Class Name:</label>
            <input type="text" class="form-control" name = "class_name" id="recipient-name">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Add Class</button>
          </div>  
        </form>
      </div>
      
    </div>
  </div>
</div>
<div class="modal fade" id="rule_based_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Rule</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="add_rule_name"> 
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Rule Name:</label>
            <input type="text" class="form-control" name = "rule_name" id="recipient-name">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Add Rule</button>
          </div>  
        </form>
      </div>
      
    </div>
  </div>
</div>
</body>

</html>

